<!DOCTYPE html>
<html lang="en">

<head>
    <title>Minvitation</title>
    <meta charset="UTF-8">
    <meta name="author" content="Minvitation">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords"
        content="weddings, cards, invitation, confirmation, birthdays, cumpleaños, bodas, casamientos, invitaciones, confirmacion">
    <meta name="description" content="minvitation wedding and birthdays cards">
    <link rel="icon" href=".ico">
    <link rel="stylesheet" type="text/css" href="/src/static/style.css">
    <link rel="stylesheet" type="text/css" href="/src/static/swiper-bundle-min.css">
</head>

<body>
    <header>
        <nav>
            <p class="nav-logo">minvitation logo</p>

            <!--<img class="logo" src="" alt="">
                <img class="hamburguer-menu" src="" alt="">
      <ul class="menu-ul">
                <li>Confirm</li>
                <li>Date</li>
                <li>Ubicacion</li>
                <li>Contact</li>
            </ul> -->
        </nav>
    </header>
    <main>
        <div class="pushAll"></div>
        <div class="couple-photo">
            <img src="/src/static/img/laura-javier/AdobeStock_265300817_Preview.jpeg " alt="couple">
            <!--NO FUNCIONA PICTURE CUANDO LO PONGO
            <picture > -->
            <!--la foto para mobile y ipad
                <source srcset="/src/static/img/laura-javier/AdobeStock_274990171_Preview.jpeg" media="(max-width: 1023px)">-->
            <!--la foto para desktop
                <source srcset="/src/static/img/laura-javier/AdobeStock_265301052_Preview.jpeg" media="(max-width: 1024px)">-->
            <!--la foto por defecto
                <img src="/src/static/img/laura-javier/AdobeStock_265300817_Preview.jpeg" alt="couple">
            </picture> -->
            <!--lo puedo poner en picture y que cambie segun medida-->
        </div>
        <!--<div class="saveDate">
            <h1 class="saveDate-title">Laura & Javier</h1>
            <p class="saveDate-text">RESERVA EL DÍA
                <br>20 de Septiembre de 2024
            </p>
            <button class="saveDate-btn">Agendar</button>
        </div>-->
        <div class="joinUs">
            <div class="joinUs-paragraph">
                <h3 class="joinUs-title">Laura & Javier</h3>
                <p class="joinUs-text">Come join us for a special day of love and celebration! We are delighted to
                    invite you to our wedding, a memorable experience filled with joy and romance.
                    As we embark on this
                    new chapter of our lives, we want you to be there to share in the happiness and witness our union.
                </p>
                <p class="joinUs-text">Let’s come together to celebrate two hearts becoming one and create memories that
                    will last a
                    lifetime. Enjoy an evening of heartfelt vows, delicious food, and joyful dancing.</p>
                <p class="joinUs-text">We look
                    forward to
                    celebrating this special occasion with you and making it a day we will all cherish forever. Your
                    presence would mean the world to us. Save the date and join us for a magical celebration!
                </p>
            </div>
            <div class="joinUs-img">
                <img src="/src/static/img/laura-javier/AdobeStock_274990171_Preview.jpeg" alt="couple photo">
            </div>
        </div>
        <div class="infoWedding">
            <div class="infoWedding-date">
                <p>WE HOPE YOU JOIN US ON</p>
                <p>September 20, 2024</p>
                <button class="primary-btn">Agendar</button>

            </div>
            <div class="infoWedding-cards">
                <div class="card">
                    <img src="/src/static/img/iglesia.png" alt="church-icon">
                    <h4>Ceremonia</h4>
                    <p>Iglesia la pepa <br>
                        La rua 2324 <br>
                        19:00hs</p>
                </div>
                <div class="card">
                    <img src="/src/static/img/fiesta.png" alt="party-icon">
                    <h4>Fiesta</h4>
                    <p>Iglesia la pepa <br>
                        La rua 2324 <br>
                        19:00hs</p>
                </div>
                <div class="card">
                    <img src="/src/static/img/civil.png" alt="wedding-icon">
                    <h4>Civil</h4>
                    <p>Iglesia la pepa <br>
                        La rua 2324 <br>
                        19:00hs</p>
                </div>
            </div>
            <div class="infoWedding-counter">
                <p class="counter-title over">dias que faltan</p> <!--una animación cuando sea la hora o haya pasado-->
                <p id="message" class="counter-title"></p>
                <div class="counter-numbers over">
                    <div class="counter-div">
                        <span class="counter-number" id='days'></span>
                        <p class="counter-text" id="daysText"></p>
                    </div>
                    <div class="counter-div">
                        <span class="counter-number" id='hours'></span>
                        <p class="counter-text" id="hoursText"></p>
                    </div>
                    <div class="counter-div">
                        <span class="counter-number" id='minutes'></span>
                        <p class="counter-text" id="minutesText"></p>
                    </div>
                    <div class="counter-div">
                        <span class="counter-number" id='seconds'></span>
                        <p class="counter-text" id="secondsText"></p>
                    </div>
                </div>
                <!--
                <div class="counter-numbers">
                    <div class="counter-div">
                        <span class="counter-number" id='days'></span>
                        <p class="counter-text">dias</p>
                    </div>
                    <span>:</span>
                    <div class="counter-div">
                        <p class="counter-number" id="hours">1</p>
                        <p class="counter-text">horas</p>
                    </div>
                    <span>:</span>
                    <div class="counter-div">
                        <p class="counter-number" id="minutes">00</p>
                        <p class="counter-text">minutos</p>
                    </div>
                    <span>:</span>
                    <div class="counter-div">
                        <p class="counter-number" id="seconds">00</p>
                        <p class="counter-text">segundos</p>
                    </div>
                </div>-->
            </div>
        </div>
        <div class="ourStory">
            <h3 class="ourStory-title">Nuestra Historia</h3>
            <p class="ourStory-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas mollitia esse a
                exercitationem? Quo
                exercitationem culpa voluptates voluptatum porro quia dolores accusamus qui delectus optio? Quia?</p>



        </div>
        <div class="ourStory-slide gallery__overflow">
            <div class="swiper gallery-thumbs">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="gallery__thumbnail">
                            <img src="/src/static/img/laura-javier/AdobeStock_265300323_Preview.jpeg" alt="couple photo"
                                class="gallery__thumbnail-img">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="gallery__thumbnail">
                            <img src="/src/static/img/laura-javier/AdobeStock_265300817_Preview.jpeg" alt="couple photo"
                                class="gallery__thumbnail-img">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="gallery__thumbnail">
                            <img src="/src/static/img/laura-javier/AdobeStock_265301052_Preview.jpeg" alt="couple photo"
                                class="gallery__thumbnail-img">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="gallery__thumbnail">
                            <img src="/src/static/img/laura-javier/AdobeStock_274990171_Preview.jpeg" alt="couple photo"
                                class="gallery__thumbnail-img">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="gallery__thumbnail">
                            <img src="/src/static/img/laura-javier/AdobeStock_265300323_Preview.jpeg" alt="couple photo"
                                class="gallery__thumbnail-img">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="message">
            <p class="message-text">Dejanos un mensaje de amor...</p>
            <button class="message-btn">Enviar</button> <!--animacion al enviar de corazones o algo asi-->
        </div>
        <div class="gift">
            <h3 class="gift-title"></h3>
            <p class="gift-text"></p>
            <ol class="gift-options">
                <li>cbu</li>
                <li>cbu</li>
                <li>cbu</li>
            </ol>
            <img src="" alt="">
        </div>
        <div class="confirmation">
            <h2 class="confirmation-title"></h2>
            <p class="confirmation-text"></p>
            <form class="confirmation-form" method="POST" action="" name="invitados">
                <input class="form-input" type="text" required name="name" placeholder="Nombre">
                <input class="form-input" type="text" required name="lastname" placeholder="Apellido">
                <input class="form-input" type="email" required name="mail" placeholder="Mail">
                <input class="form-input" type="tel" required name="cel" placeholder="Celular" min="7" max="15">
                <div class="foodSelection">
                    <label for="Comida">¿Comida especial?</label>
                    <select class="comidaOtro" name="food" id="food">
                        <option value="Ninguna">Ninguna</option>
                        <option value="Vegano">Vegano</option>
                        <option value="Vegetariano">Vegetariano</option>
                        <option value="Celíaco">Celíaco</option>
                        <option class="otro" value="Otro">Otro</option>
                    </select>
                </div>
                <hr>
                <div class="plusOne">
                    <label for="plusOne">¿Asistis con acompañante?</label>
                    <label class="switch">
                        <input type="checkbox" onclick="plusOne()" class="plusOneRadio">
                        <span class="slider"></span>
                    </label>
                </div>
                <div id="showmore" class="showmorehidden">
                    <input type="text" name="plusOneName" placeholder="Nombre Acompañante">
                    <input type="text" name="plusOneLastName" placeholder="Apellido Acompañante">
                    <div class="especialFood foodSelection"><label for="plusOneFood"
                            placeholder="Comida del acompañante">¿Comida
                            especial?</label>
                        <select class="comidaOtro" name="plusOneFood" id="plusOneFood">
                            <option value="Ninguna">Ninguna</option>
                            <option value="Vegano">Vegano</option>
                            <option value="Vegetariano">Vegetariano</option>
                            <option value="Celíaco">Celíaco</option>
                            <option value="Otro">Otro</option>
                        </select>
                    </div>
                </div>
                <button><input class="submit" type="submit" value="Confirmar"></button>
            </form>
        </div>
        <div class="map">

        </div>
    </main>
    <footer>
        <h3>Algun mensaje lindo con foto??</h3>
        <p>Contacto</p>
    </footer>
    <!--SWIPER BUNDLE ES PARA LA GALLERIA Y LOS PACKAGE.json-->
    <script src="/src/static/swiper-bundle.min.js"></script>
    <script src="/src/static/gallery.js"></script>

    <!--Para que funcione el countDown debe ir el script abajo, despues de cargar el DOM-->
    <script src="/src/static/script.js"></script>

</body>

</html>


<!--
menu => no se si hace falta....
mobile first
ipad min-width: 785
desktop min-width:1024


a partir de desktop una grilla de 3 verticales para colocar los costadoso solo agrego margenes??
CREAR UN SCRIPT PARA CAMBIAR NOMBRES, INFO, DATOS Y FOTOS SIN TOCAR EL INDEX
-->